*{
    margin:0;
    padding:0;
    font-family:century gothic;
}
.flex{
    flex-wrap:wrap;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),   url(background.jpeg);
    height:70vh;
    background-size:cover;
    background-position:center;
}
ul{
    float:right;
    list-style-type:none;
    margin-top:25px;
    margin-right:-5%;
}
ul li{
    display:inline-block;
    margin-right:15px;
}
ul li a{
    position:relative;
    text-decoration:none;
    color:#fff;
    padding:5px 20px;
    border:2px solid transparent;
    border-radius:45px;
    transition:0.6s ease;
}
ul li a:hover{
    background-color:#fff;
    color:#000;
}
li.active a{
    position:absolute;
    background-color:#fff;
    color:#000;
    padding:5px 40px;
    float:right;
    margin-top:20px;
    margin-left:73%;
    text-decoration:none;
}
li.active{
    list-style-type:none;
}
.main{
    max-width:1440px;
    margin:auto;
    position:relative;
}
.image img{
    position:absolute;
    width:30%;
    height:45%;
    left:1%;
    bottom:350px;
    opacity:0.8;
    border-left:15px dotted #fff;
    border:2px solid #000;
    border-radius:40%;
    top:80px;
}
.image p{
    position:absolute;
    font-size:20px;
    top:670px;
    color:#808080;
    left:1%;
}
.role p{
    position:absolute;
    font-size:20px;
    top:550px;
    color:#fff;
    left:12%;
}
.my-word pre{
    position:absolute;
    font-size:45px;
    font-family:century;
    bottom:440px;
    color:#fff;
    margin-left:35%;
    text-shadow:2px 2px 20px #000;
    
}
.my-word h1{
    position:absolute;
    font-size:65px;
    font-family:Garamond;
    bottom:780px;
    color:#fff;
    margin-left:35%;
    text-decoration:underline;
    text-shadow:2px 2px 0px #000;
}

.glass{
    position:absolute;
    width:100%;
    height:150px;
    background-color:#000;
    box-shadow:0 2px 55px rgba(0,0,0,0.3);
}
.glass h1{
    font-family:alisandra demo;
    font-weight:normal;
    font-size:100px;
    color:#fff;
    text-align:center;
    line-height:1.5;
}

.lesson-1{
    position:relative;
    background-color:#000;
    border:2px solid transparent;
    border-radius:0 50px 0 50px;
    margin:100px;
    padding:95px;
    margin-top:0;
    width:85%;
    margin-left:25px;
    box-shadow:0 0 25px #000;
}
.lesson-1 h1{
    font-size:80px;
    margin-top:-80px;
    opacity:0.7;
    color:#fff;
}
.lesson-1  p{ 
        margin-top:2%;
        width:850px;
        height:45px;
        color:#fff;
        border-radius:45px;
        padding:10px 30px;
        margin:auto;
        cursor:pointer;
        border:none;
        text-transform:uppercase;
        letter-spacing:2px;
        font-weight:bold;
        box-shadow:0 8px 15px rgba(0,0,0,0.1);
        transition:all 0.3s ease;
    }
    .lesson-1:hover p{
        background:#808080;
        transform:translateY(-7px);
        color:#fff;
        box-shadow:0 10px 25px rgba(46, 223, 229, 0.445);
        text-align:center;
    }

    .footer{
        border:1px solid transparent;
        width:96%;
        height:170px;
        margin:100px;
        padding:95px;
        margin-top:-4%;
        background-color:#aec6cf;
        margin-left:-125px;
    }
    .footer p{
        color:#5a2a2a;
        font-size:45px;
        text-align:center;
    }